</div>
<!-- /.container -->
<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; Tasks |
      Desenvolvido por <a href="https://jorgevilasboas.github.io/">Jorge Vilas Boas</a>
    </p>
  </div>
</footer>

</body>

</html>