</div>
<!-- /.container -->
<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; Atividades |
      <a href="/agencias">Home</a> |
      <a href="/agencias/new">New Agencia</a>
    </p>
  </div>
</footer>

</body>

</html>